<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ice.brother.house.bos.provider.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.ice.brother.house.bos.provider.entities.SysUser">
    <id column="user_id" property="userId" jdbcType="INTEGER"/>
    <result column="user_name" property="userName" jdbcType="VARCHAR"/>
    <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
    <result column="creator" property="creator" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="updator" property="updator" jdbcType="VARCHAR"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    <result column="role_id" property="roleId" jdbcType="INTEGER"/>
    <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
    <result column="remark" property="remark" jdbcType="VARCHAR"/>
    <collection property="roleInfos" javaType="java.util.List"
      ofType="com.ice.brother.house.bos.provider.entities.RoleInfo">
      <id property="roleId" column="role_id"/>
      <result property="roleName" column="role_name"/>
      <result property="remark" column="remark"/>
    </collection>
  </resultMap>


  <sql id="Base_Column_List">
    user_id, user_name, pwd, creator, create_time, updator, update_time
  </sql>

  <!--通过用户名查询用户-->
  <select id="selectSysUserByName" resultMap="BaseResultMap"
    parameterType="com.ice.brother.house.bos.provider.entities.SysUser">
    select
    <include refid="Base_Column_List"/>
    from tb_sys_user
    where user_name = #{userName}
  </select>

  <!--获取用户角色-->
  <select id="selectUserRole" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select user_id,user_name,ri.role_id,ri.role_name,ri.remark
    from tb_sys_user us
    left join tb_sys_user_role ur on us.user_id = ur.user_id
    left join tb_role_info ri on ri.role_id = ur.role_id
    where user_id = #{userId}
  </select>

</mapper>